# Control Statements in Loops
Loop control statements change execution from their normal sequence.

1. continue:

Skips the current iteration and returns control to the beginning of the loop.

2. break:

Exits the loop immediately, regardless of the loop condition.

3. pass:

Does nothing; used as a placeholder in loops or code blocks that are yet to be implemented.

# Search for the number 'X' in a list

In [10]:
lst = [12,23,23,13,56,87,67,66]
srch_num = 66
for i in lst:
    if i == srch_num:
        print(i)
        break

66

# Print all letters of a sequence except 'e' and 'n'

In [24]:
string = "Have a Nice day "
for i in string:
    if i=="a" or i=="e" or i=="i":
        continue
    else:
        print(i)

H
v


N
c

d
y

# Given a nested list of citizens having their age, name,address,show citizens eligible for voting:

In [28]:
citizens = [[24,"Aishu","Chennai"],[50,"Muthu","Dindigul"],[17,"Sasi","Madurai"]]
for i in citizens:
    if i[0] >18:
        print(i[1]," - Eligible")
    else:
        print(i[1]," -Not Eligible")

Aishu  - Eligible
Muthu  - Eligible
Sasi  -Not Eligible

# Continue

In [30]:
for i in range(1, 6):
    if i == 3:
        continue  #Skips printing the number 3
    print(i)

1
2
4
5

# Break

In [32]:
for i in range(1, 6):
    if i == 3:
        break   #Stops the loop when it reaches 3:
    print(i)

1
2

# Pass

In [34]:
for i in range(1, 6):
    if i == 3:
        pass  # Placeholder, does nothing
    print(i)

1
2
3
4
5