DATA TYPES:
1. Numeric - int , float,complex
2. Boolean - True,False
3. Sequence - String, List, Tuple
4. Mapping - Dictionary
5. Set

1. LIST - Mutable , ordered
2. TUPLE - immutable , ordered
3. DICT - Mutable,unordered
4. SET - Mutable , unordered

MUTABLE OBJECTS:

 * These objects can be modified after they are created
 * We can change without creating new object
 * Its memory location remains same
EX - List,Dict,Set

In [1]:
Lt = [1,2,3]
print(Lt)
print(id(Lt))
Lt.append(4)
print(Lt)
print(id(Lt))

[1, 2, 3]
2664581061824
[1, 2, 3, 4]
2664581061824

IMMUTABLE OBJECTS:

 * cannot be modified once created
 * Any operations that appears to modify the object actually creates a new object.
 * Their original identity(memory location) remains constant but new value gets different identity.
EX - int,float , strings ,tuple

In [11]:
str = "I am learning"
print(str)
print(id(str))
str+=" python"
print(str)
print(id(str))

I am learning
2664599235120
I am learning python
2664581513072

TYPE CONVERSION : converting one data type to another.

1.Implicit conversion:(Type coercion)

python automatically converts one data type to other.

In [17]:
num1 = 5
num2 = 10.5
num3 = num1+num2
print(num3)
print(type(num3))

15.5
<class 'float'>

2.Explicit conversion:(Type casting)

Manually converting one data type to other using built in data types

In [36]:
#String to int 
str1 = "123"
integer = int(str1)
print(integer)

123

In [7]:
#Float to string

int1 = 123.2
print(type(int1))
str2 = str(int1)
print(str2)
print(type(str2))

<class 'float'>
123.2
<class 'str'>

In [9]:
a = 6
b = 24
c = complex(a,b)
print(c)

(6+24j)