DICTIONARY:

* Stores dataa values as key: value pair
* Unordered , Mutable and don't allow duplicate values.
* Unordered --> no indexing

In [130]:
info = {'name' : 'Aishwarya',
        'age':24,
        'marks':[90,98,99]}
print(type(info))
print(info)
info['marks']    # ACCESSING VALUES IN DICT

<class 'dict'>
{'name': 'Aishwarya', 'age': 24, 'marks': [90, 98, 99]}

[90, 98, 99]

In [110]:
#UPDATING DICTIONARY
info['marks'] = 100
print(info)

{'name': 'Aishwarya', 'age': 24, 'marks': 100}

NESTED DICTIONARY  -- > DICT {DICT}

In [112]:
info1 = {'name' : 'Aishwarya',
        'age':24,
        'marks':{'English':90,'Tamil':98,'Maths':99}}
print(type(info1))
print(info1)
info1['marks']['English']   # ACCESSING VALUES IN NESTED DICT

<class 'dict'>
{'name': 'Aishwarya', 'age': 24, 'marks': {'English': 90, 'Tamil': 98, 'Maths': 99}}

90

DICTIONARY METHODS:

 1. dict.keys():  Return all the keys

In [132]:
info.keys()

#CONVERTING INTO LIST
keys = list(info.keys())
print(keys)

['name', 'age', 'marks']

 2. dict.values():  Return all the values

In [134]:
info.values()

#CONVERTING INTO LIST
values = list(info.values())
print(values)

['Aishwarya', 24, [90, 98, 99]]

3. dict.items():  Return all the key value pairs

In [122]:
info.items()  #RETURN IN TUPLE FORM

dict_items([('name', 'Aishwarya'), ('age', 24), ('marks', 100)])

In [136]:
#CONVERTING INTO LIST
items = list(info.items())
print(items)

[('name', 'Aishwarya'), ('age', 24), ('marks', [90, 98, 99])]

4. dict.get('key') : Return the values for the keys or a default if the key isn't present

In [124]:
info.get('name')

'Aishwarya'

5. dict.update(newdict): Updates dictionary with key-value pairs from another dictionary.

In [138]:
info.update({'city':'Chennai'})
print(info)

{'name': 'Aishwarya', 'age': 24, 'marks': [90, 98, 99], 'city': 'Chennai'}

6. COPY -- Creates a shallow copy of the dictionary.

In [128]:
info_copy = info.copy ()
print(info_copy)

{'name': 'Aishwarya', 'age': 24, 'marks': 100, 'city': 'Chennai'}

7. POP -- REMOVE A KEY AND RETURN ITS VALUE

In [140]:
age = info.pop('age')
print(age)       # 24
print(info)      # {'name': 'Aishwarya', 'marks': [90, 98, 99]}

24
{'name': 'Aishwarya', 'marks': [90, 98, 99], 'city': 'Chennai'}

8. POPITEM -- Removes and returns the last inserted key-value pair.

In [142]:
print(info)
last_item = info.popitem()
print(last_item)        # NOTE : DONT USE RUN THIS METHOD every time we run it will pop the values and create emptyt dict

{'name': 'Aishwarya', 'marks': [90, 98, 99], 'city': 'Chennai'}
('city', 'Chennai')

9. SETDEFAULT() -- Returns the value of a key. If not present, inserts with default value.

In [145]:
height = info.setdefault('height', 159)
print(height)  # 160
print(info)    # Now includes 'height': 160

159
{'name': 'Aishwarya', 'marks': [90, 98, 99], 'height': 159}

10. clear() -- Removes all items from the dictionary.

In [148]:
info.clear()
print(info)

{}

In [150]:
print(info)

{}