# For Loop

It iterate over a sequence like lists , tuples, strings , dicts etc

# Looping through list:

In [4]:
fruits = ["apple","banana","guava"]
for i in fruits:
    print(i)

apple
banana
guava

# Range:

*  used to generate a sequence of numbers. It's commonly used with for loops.

# syntax:
range(stop)
range(start, stop)
range(start, stop, step)

* start: the number to start from (default is 0)

* stop: the number to stop before (not inclusive)

* step: how much to increase (or decrease) each time (default is 1)

In [9]:
#One argument (stop only):
for i in range(5):
    print(i)

0
1
2
3
4

In [11]:
#Two argument (start and stop):
for i in range(5,10):
    print(i)

5
6
7
8
9

In [19]:
#3. Three arguments (start, stop, step):
for i in range(5,10,2):
    print(i)

5
7
9

In [27]:
# negative counting (backwards)
for n in range(10,5,-2):
    print(n)

10
8
6

# Looping through string:

In [32]:
for letter in "Looping":
    print(letter)

L
o
o
p
i
n
g

# 1. Print numbers from 100 to 1

In [44]:
for i in range(100,0,-1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

# Multiplication Table

In [47]:
num = int(input ("Enter the table:"))
for i in range(1,11):
    print(f"{num} x {i} = {num*i}")

Enter the table: 6

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

# Find the sum of 1st 10 numbers

In [60]:
sum = 0
for i in range(1,11):
    sum = sum +i
print(sum)

55