OPERATORS:

used to perform operations on variables and values.

1.ARITHMETIC OPERATORS:

--These perform mathematical operations like addition, subtraction, multiplication, etc.

In [5]:
a = 10
b = 5

print(a + b)  # Addition: 15
print(a - b)  # Subtraction: 5
print(a * b)  # Multiplication: 50
print(a / b)  # Division: 2.0 ( quotient float value)
print(a % b)  # Modulus: 0 (Remainder)
print(a ** b) # Exponentiation: 100000
print(a // b) # Floor Division: 2 (quotient - integer)

15
5
50
2.0
0
100000
2

2. Comparison Operators:
   
These compare two values and return a Boolean result (True or False).

In [9]:
x = 10
y = 20

print(x == y)  # Equal to: False
print(x != y)  # Not equal to: True
print(x > y)   # Greater than: False
print(x < y)   # Less than: True
print(x >= y)  # Greater than or equal to: False
print(x <= y)  # Less than or equal to: True

False
True
False
True
False
True

3. Logical Operators:
   
Used to combine conditional statements.

In [12]:
p = True
q = False

print(p and q)  # Logical AND: False
print(p or q)   # Logical OR: True
print(not p)    # Logical NOT: False

False
True
False

4. Bitwise Operators:

These operate on binary numbers.

In [15]:
a = 5  # 0101
b = 3  # 0011

print(a & b)  # Bitwise AND: 1
print(a | b)  # Bitwise OR: 7
print(a ^ b)  # Bitwise XOR: 6
print(~a)     # Bitwise NOT: -6
print(a << 1) # Left shift: 10
print(a >> 1) # Right shift: 2

1
7
6
-6
10
2

5. Assignment Operators:

Used to assign values to variables.

In [30]:
x = 10
x += 5  # x = x + 5 → 15
print(x)
x -= 3  # x = x - 3 → 12
print(x)
x *= 2  # x = x * 2 → 24
print(x)
x /= 4  # x = x / 4 → 6.0
print(x)

15
12
24
6.0

6. Membership Operators:

Check if a value exists in a sequence.

In [37]:
my_list = [1,2,3,4,5]
print( 4 in my_list) #value found
print( 12 not in my_list) # value not found
print( 12  in my_list)

True
True
False

7. Identity Operators:

* Check if two variables point to the same object.
* compares memory location of two objects.

In [43]:
x = [1, 2, 3]
y = x
z = [1, 2, 3]

print(x is y)  # True (same object)
print(x is not z)  # True (different objects)
print(x is z)

True
True
False

8.Ternary operator:

* simple way of writing if-else statement in single line.

-->  result = value_if_true if condition else value_if_false

In [47]:
age = 20
status = "Adult" if age >=18 else "minor"
print(status)

Adult