SET:

* collection of unordered items
* Each element in a set is UNIQUE
* IMMUTABLE
* list, dict are not allowed in set (int, str , tuples etc are allowed )   [ list , dict -- mutable ]

In [17]:
s1 = {1,'Apple',(1,23,4) }
print(s1)

{1, (1, 23, 4), 'Apple'}

In [9]:
num = {1,2,3,4}
print(num)
num1 = {1,2,5,5,5}  # changed to {1,2,5}  unique
print(num1)
num3 =set()
print(num3)

{1, 2, 3, 4}
{1, 2, 5}
set()

SET METHODS :

1. add(elem):  -- > Adds an element to the set.

In [23]:
s = {1, 2, 3}
s.add(4)
print(s)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

2. update(*others)  -->
Adds elements from another iterable (list, set, tuple, etc).

In [32]:
s = {1, 2}
s.update([3, 4], {5, 6})
print(s)  # Output: {1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}

3. remove(elem)  -- 
Removes the specified element. Raises error if not found.

In [30]:
s = {1, 2, 3}
s.remove(2)
print(s)  # Output: {1, 3}
# s.remove(5) → Raises KeyError

{1, 3}

4. discard(elem)  -- > Removes the element if it exists. No error if it doesn’t.

In [35]:
s = {1, 2, 3}
s.discard(2)
s.discard(5)  # No error
print(s)  # Output: {1, 3}

{1, 3}

5. pop()  -- >Removes and returns an arbitrary element.

In [38]:
s = {10, 20, 30}
x = s.pop()
print(x)  # Output: Random element (e.g., 10)
print(s)  # Remaining elements

10
{20, 30}

6. clear() -->
Removes all elements from the set.

In [ ]:
s = {1, 2, 3}
s.clear()
print(s)  # Output: set()

SET OPERATIONS:

7. union(*others) or |

Returns all elements from both sets.

In [43]:
a = {1, 2}
b = {2, 3}
print(a.union(b))   # Output: {1, 2, 3}
print(a | b)        # Output: {1, 2, 3}

{1, 2, 3}
{1, 2, 3}

8. intersection(*others) or &
   
Returns common elements.

In [46]:
a = {1, 2}
b = {2, 3}
print(a.intersection(b))   # Output: {1, 2, 3}
print(a & b)        # Output: {1, 2, 3}

{2}
{2}

9. difference(*others) or -
    
Returns elements in the set that are not in the others.

In [51]:
a = {1, 2, 3}
b = {2, 4}
print(a.difference(b))  # Output: {1, 3}
print(a - b)            # Output: {1, 3}
print (b.difference(a))
print(b-a)

{1, 3}
{1, 3}
{4}
{4}

* A - B CALCULATION:

Now compare each element in a with b.

1 is in a and NOT in b → ✅ keep it

2 is in a but also in b → ❌ remove it

3 is in a and NOT in b → ✅ keep it

* B - A CALCULATION:

2 is in both → ❌ remove it

4 is in b → ✅ keep it

10. symmetric_difference(other) or ^ 

Returns elements in either set but not both.

a = {1, 2, 3}
b = {2, 4}
print(a.symmetric_difference(b))  # Output: {1, 3, 4}
print(a ^ b)                      # Output: {1, 3, 4}
print(b.symmetric_difference(a))
print(b^a)

SET COMPARISON METHODS :

11. issubset() or <=

    Checks if all elements in set A are also in set B.

In [68]:
a = {1, 2}
b = {1, 2, 3}

print(a.issubset(b))  # Output: True
print(a <= b)         # Output: True

c = {1, 4}
print(c.issubset(b))  # Output: False (4 is not in b)

True
True
False

12. issuperset() or >=

    Checks if set A contains all elements of set B.

In [70]:
a = {1, 2, 3}
b = {1, 2}

print(a.issuperset(b))  # Output: True
print(a >= b)           # Output: True

c = {1, 4}
print(a.issuperset(c))  # Output: False (4 is not in a)

True
True
False

13. isdisjoint()

    Returns True if the two sets have no elements in common.

In [74]:
a = {1, 2}
b = {3, 4}

print(a.isdisjoint(b))  # Output: True

c = {2, 5}
print(a.isdisjoint(c))  # Output: False (both have 2)

True
False

| Method         | Meaning                         | Returns `True` if...                   |
| -------------- | ------------------------------- | -------------------------------------- |
| `issubset()`   | A is a subset of B (`A <= B`)   | All A's elements are in B              |
| `issuperset()` | A is a superset of B (`A >= B`) | All B's elements are in A              |
| `isdisjoint()` | A and B have nothing in common  | No elements are shared between A and B |