DEFINING STRING

In [6]:
#SINGLE QUOTES
print('DEFINING STRING')
#DOUBLE QUOTES
print("DEFINING STRING")
#TRIPLE QUOTES
print('''DEFINING STRING''')

DEFINING STRING
DEFINING STRING
DEFINING STRING

USING QUOTES INSIDE STRING:

In [13]:
string1 = "It's a beautiful life"
print(string1)

It's a beautiful life

In [15]:
string2 = 'I said ,"Hi!"'
print(string2)

I said ,"Hi!"

USING ESCAPE SEQUENCE:

In [18]:
string1 = "It\'s a beautiful life"
print(string1)

It's a beautiful life

In [22]:
string2 = 'I said ,\"Hi!\"'
print(string2)

I said ,"Hi!"

BASIC OPERATIONS ON STRING:

1. CONCATENATION:

In [32]:
str1 = "concatenating "
str2 = "strings "
con_str = str1 + "" +str2
print(con_str)

concatenating strings

2. LENGTH:

In [37]:
print( len("I am happy"))

10

3.INDEXING:

1.It allows to access characters in a string by their position.

2.positive indexing -- 0 to n-1

3.negative indexing -- go backwards from -1

In [3]:
str = "python"
print(str)
print(str[0:8])
print(str[0:4])
print(str[2])
print(str[-2])
print(str[0:6])

python
python
pyth
t
o
python

4.SLICING :

* It allows to extract substring from a string by specifying a range of indices

* SYNTAX - [START : END : STEP ]

* start index , end index , step - interval between indices

In [17]:
# POSITIVE INDEXING:
S= "PYTHON PROGRAMMING"
print(S[0:6])
print(S[7:18])
print(S[7:])
print(S[:7])
print(S[6:18])

PYTHON
PROGRAMMING
PROGRAMMING
PYTHON
 PROGRAMMING

In [37]:
#NEGATIVE INDEXING 
S= "PYTHON PROGRAMMING"
print(S[0:-12])
print(S[-18:-12])
print(S[-11:])
print(S[-7:-4])

PYTHON
PYTHON
PROGRAMMING
RAM

In [47]:
#STEP INDEX 
print(S[0:18:2]) 
print(S[::2]) #start to end every 2nd character
print(S[::3])
print(S[::-3])
print(S[4:8:3])

PTO RGAMN
PTO RGAMN
PH OAI
GMRRNT
OP

In [53]:
#IMPORTANT -- REVERSING A STRING:
print(S[::-1])
print(S[18:0:-1])

GNIMMARGORP NOHTYP
GNIMMARGORP NOHTY

In [63]:
#SLICING WITH START AND END INDICES
a = "self learning"
print(a[:]) #whole string
print(a[4:]) # index 4 to end 
print(a[:6 ]) # from start to 6
print(a[::1]) #every char
print(a[::2]) #every 2nd char

self learning
 learning
self l
self learning
sl erig

In [81]:
S= "PYTHON PROGRAMMING"
print(S[18:0:-1])

GNIMMARGORP NOHTY

In [87]:
#REVERSING A SLICE 

d = "DATA SCIENCE"
print (d[0:4][::-1])

ATAD

STRING OPERATIONS:

1. endswith ():

In [104]:
so1 = "string operations"
print(so1.endswith("operations"))
print(so1.endswith("Operations"))

True
False

2. capitalize ():

In [106]:
print(so1.capitalize())

String operations

3. replace():

In [110]:
print(so1.replace("operations","Operation"))

string Operation

4.find():

In [126]:
print(so1.find("operations")) # returns the lowest index of the string 
print(so1.find("operas")) # if no match return -1
print(so1.find("str"))

7
-1
0

5.count()

In [136]:
s_cnt = " Learning string operations in string"
print(s_cnt.count("string"))
print(s_cnt.count("str"))
print(s_cnt.count("in"))
print(s_cnt.count("app"))

2
2
4
0

6.split():

In [140]:
print(s_cnt.split())  # spliting string into list

['Learning', 'string', 'operations', 'in', 'string']

7.startswith():

In [146]:
print(s_cnt.startswith(" Learn"))
print(s_cnt.startswith("Learn"))

True
False

8.lower() and upper ()

In [178]:
print(s_cnt.lower())
print(s_cnt.upper())

 learning string operations in string
 LEARNING STRING OPERATIONS IN STRING

9.strip():

In [160]:
print(s_cnt.strip())
stp = "    learning python    "
print(stp.strip())

Learning string operations in string
learning python

10.join():

In [166]:
lt = ["apple","banana","cherry"]
print("::".join(lt))

apple::banana::cherry

11.format

In [176]:
ft = "Learning {} "
print(ft.format("python"))
ft1 = "The price of apple is {} dollars"
print(ft1.format(12.3))

Learning python
The price of apple is 12.3 dollars

UPDATING STRINGS :

UPDATING SINGLE CHARACTER -- USING SLICIING AND CONCATENATION

In [182]:
u = "updating"
print(u[0:3] +"A"+ u[4:])

updAting

UPDATING MULTIPLE CHARACTER -- USING REPLACE FUNC , LIST CONVERSION , SLICING:

In [196]:
#REPLACE :
u_mul = "UPDATING MULTIPLE CHARACTER"
print(u_mul.replace("CHARACTER","CHARACTERS"))

'''
LIST CONVERSION
1.convert string --> list
2.modify list
3.convert list --> string
'''
lt = list(u_mul)
lt[9:17]="multiple"
new_lt = ''.join(lt)
print(new_lt)

UPDATING MULTIPLE CHARACTERS
UPDATING multiple CHARACTER

DELETING STRING

DELETING SINGLE CHARACTER -- USING SLICING

In [198]:
d = "DELETING STRING"
print(d[:8]+ d[9:])

DELETINGSTRING

DELETING MULTIPLE CHARACTER -- USING REPLACE AND DEL

In [214]:
#REPLACE:
dm = "DELETING AN STRING , DELETING AN STRING "
print(dm.replace("AN",""))
del dm
#print(dm)

DELETING  STRING , DELETING  STRING