# TUPLE:

* Ordered collection of items and immutable
* Heterogenous
* Hashable -- Tuples are Immutable , they can be used as keys in dicts or elements in sets , provided all their contents also hashable.

In [3]:
#CREATING TUPLES

In [21]:
#EMPTY TUPLE
emp_tup =()
print(emp_tup)

# WITH ELEMENTS
tup = (1,"Hi",2.4,True)
print(tup)

#WITHOUT PARANTHESIS ()
tup1 = 12,3,4
print(tup1)

#SINGLE ELEMENT 
tup2 = (10,)         # COMMA MUSTTTTT
print(tup2)

#NESTED TUPLES
tup3 = ((1,2),"abs",(4,5))
print(tup3)

()
(1, 'Hi', 2.4, True)
(12, 3, 4)
(10,)
((1, 2), 'abs', (4, 5))

ACCESSING TUPLE DATA:

In [28]:
# 1. INDEXING :

t1 = (10,20,3,40)
print(t1[0])

10

In [30]:
#2. SLICING:

print ( t1[1:3])   # indexing -- 0 to n-1

(20, 3)

In [32]:
# 3. ITERATING:

for i in t1:
    print(i)

10
20
3
40

# METHODS:

In [35]:
# 1. count(item):

t_cnt = (1,2,2,3,4,4,5,4)
print(t_cnt.count(4))

3

 2. INDEX(item)
    * find index of specified item , if not raises VALUE ERROR

In [48]:
t_idx = (1,2,2,3,4,4,5,4)
print(t_idx[4])
print(t_idx[9])

4

IndexError: tuple index out of range