 # WHILE LOOP

* A while loop is a control flow statement in programming that allows code to be executed repeatedly based on a given Boolean condition. 
* The loop continues as long as the condition is True.

while condition:

    # code block to execute

In [12]:
i = 1                         # INITIATE COUTER VALUE
while i <= 6 :                # WHILE CONDITION
    print("I am blessed")     # STATEMENTS
    i +=1                     # INCREASE COUNTER

I am blessed
I am blessed
I am blessed
I am blessed
I am blessed
I am blessed

# PRINT NUMBERS FROM 1 TO 100

In [1]:
i = 1
while i <=100:
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# Sum of First N Natural Numbers

Natural Numbers = {1,2,3.......infinte } , no negative numbers

In [11]:
n = int(input("Enter a number: "))  # User input
sum = 0                             # Initialize sum

i = 1                               # Start from 1
while i <= n:                       # Repeat until i is greater than n
    sum += i                        # Add current i to sum
    i += 1                          # Increment i by 1

print("Sum =", sum)                 # Print final sum

Enter a number:  11

Sum = 66

# Multiplication Table

In [17]:
num = int(input ("Enter the table:"))
i=1
while i<=10:
    print(f"{num} x {i} = {num*i}")
    i+=1

Enter the table: 6

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

# print the elements in the list

In [27]:
lst = [12,23,34,45,23,33,11,123]
i=0       # i -- index position ( 0 t0 7 )
while i < len(lst):
    print(lst[i])
    i=i+1

12
23
34
45
23
33
11
123

# Search ' s' is present in the string

In [ ]:
string = "success"
i = 0
while i < len(string):
    if string[i] == "s":
        print(True)
        i=i+1

True

# Reverse a Number

In [2]:
num = int(input("Enter a number: "))
rev = 0

while num > 0:
    digit = num % 10                # Extract last digit
    rev = rev * 10 + digit          # Append digit to reversed number
    num = num // 10                 # Remove last digit from original number

print("Reversed number:", rev)

Enter a number:  5623

Reversed number: 3265

# Palindrome

In [7]:
num = int(input("Enter a number: "))
original = num
rev = 0

while num > 0:
    digit = num % 10
    rev = rev * 10 + digit
    num //= 10

if original == rev:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter a number:  123

Not a palindrome